<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <% include partials/head.html %>
</head>
<body>
    <% include partials/navigation.html %>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 p-5 text-center">
                <img src="/img/pumpkin.png" class="animated bounceIn" width="40%" alt="">
            </div>
        </header>
    </div>

    <!--Section one-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-4 text-center">
            <div class="col-md-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-md-6">
                <h3>Youtube</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident incidunt sit dolor distinctio, quisquam in nemo blanditiis dignissimos sequi at facere quas odit! Consectetur omnis quaerat nam itaque assumenda eaque.</p>
            </div>
        </div>
    </div>

    <% include partials/footer.html %>
</body>
</html>